.content_detail-card{
  text-align: center;
  display:flex;
  justify-content: center;
}
.link_return{
  margin-bottom: 30px;
}
.card-image{
  width: 150px;
  height: 200px;
    @media all and(min-width:768px){
      width: 300px;
      height: 400px;
  }
    @media all and(min-width:1020px){
      width: 380px;
      height: 500px;
  }
}
.character_card{
  background-color:$orange;
  color: $white;
  width: 200px;
  height: 200px;
    @media all and(min-width:768px){
      width: 400px;
      height: 400px;
  }
    @media all and(min-width:1020px){
      width: 500px;
      height: 500px;
  }
}
.character_detail-name{
  text-align: center;
  font-family: 'Comic Sans MS', arial;
  margin-top:20px;
  font-size:18px;
    @media all and(min-width:768px){
      font-size:28px;
  }
    @media all and(min-width:1020px){
      font-size:32px;
  }
}
.detail_card-list{
  margin-top:10px;
  font-size: 12px;
  list-style: none;
  text-align: left;
  
    @media all and(min-width:768px){
      font-size: 24px;
      line-height: 1;
  }
    @media all and(min-width:1020px){
      font-size: 28px;
      line-height: 2;
  }
}
.style_house{
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}
.style_img-house{
  margin-top:10px;
  width: 50px;
  height: 50px;
    @media all and(min-width:768px){
      width: 170px;
      height: 155px;
  }
 
}